{% extends 'AdminCoreBundle::layout.html.twig' %}
{% block breadcrumb %}
        {% include '@AdminCore/Common/breadcrumb.html.twig' with {
        breadcrumb: [
        { name: 'elcodi_plugin.clear_cache.name'|trans, active: true },
        ]
        } %}

{% endblock breadcrumb %}
{% block content %}
        <div id="container" style="min-width: 310px; height: 400px; max-width: 600px;"></div>
{% endblock content %}