{% extends 'AdminCoreBundle::layout.html.twig' %}
{% block breadcrumb %}
        {% include '@AdminCore/Common/breadcrumb.html.twig' with {
        breadcrumb: [
        { name: 'elcodi_plugin.clear_cache.name'|trans, active: true },
        ]
        } %}

{% endblock breadcrumb %}
{% block content %}
        <div id="container" style="min-width: 310px; height: 400px; max-width: 600px;"></div>
        <br/>
        <button type="submit" class="button-primary icon-times">{{ 'elcodi_plugin.clear_cache.button'|trans }}</button>
        <script>
                $(function () {

                        $(document).ready(function () {

// Build the chart
                                $('#container').highcharts({
                                        chart: {
                                                plotBackgroundColor: null,
                                                plotBorderWidth: null,
                                                plotShadow: false,
                                                type: 'pie'
                                        },
                                        title: {
                                                text: 'FILE CACHE'
                                        },
                                        tooltip: {
                                                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                                        },
                                        plotOptions: {
                                                pie: {
                                                        allowPointSelect: true,
                                                        cursor: 'pointer',
                                                        dataLabels: {
                                                                enabled: false
                                                        },
                                                        showInLegend: true
                                                }
                                        },
                                        series: [{
                                                name: "Cache Type",
                                                colorByPoint: true,
                                                data: [{
                                                        name: "annotations",
                                                        y: 56.33
                                                }, {
                                                        name: "doctrine",
                                                        y: 24.03,
                                                        sliced: true,
                                                        selected: true
                                                }, {
                                                        name: "profiler",
                                                        y: 10.38
                                                }, {
                                                        name: "translations",
                                                        y: 4.77
                                                }, {
                                                        name: "twig",
                                                        y: 0.91
                                                }, {
                                                        name: "Container ans classses",
                                                        y: 0.2
                                                }]
                                        }]
                                });
                        });
                });
        </script>
{% endblock content %}